*{
    margin: 0;
    
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color:#A6BED0 ;
}
a {
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
/* Contact Section */
.contact {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   /* height: 100vh; */
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}

#contact h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    
}
.form{
    display:grid;


}
form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background:#e2d3b1;
    padding: 4rem 4rem;
    border-radius: 2rem;
    backdrop-filter: blur(20px);
}

form label {
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: 600;
}

form input, form textarea {
    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #A6BED0;
}

form button {
    padding: 12px 20px;
    background-color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #333;
    color: #fff;

}
.email{
    margin-top: 2rem;
   background-color: #e2d3b1;
    max-width: 700px;
    
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    text-align: center;
    padding:12px 20px ;
    color: white;
    
}
/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    margin-top: 1rem;
}

.icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center;
}
@media screen {
    
}