  /* Header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s ease;
  text-decoration: none;
}

  header nav ul li a:hover {
    color:#A6BED0 ;
  }
  
  body
  {background-color: #A6BED0;
  }
  h1{
    text-align: center;}
    
/* Portfolio Section */
#portfolio {
  padding: 80px 20px;
  background-color: #f4f4f4;
}

#portfolio h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

.skills {
  text-align: center;
  padding: 50px 0;
}

.skills h1 {
  font-size: 2rem;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.skill-item {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #e2d3b1;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item i {
  font-size: 2.5rem;
  color: #4a90e2;
}

.skill-item p {
  margin-top: 10px;
  color: #333;
  font-size: 1rem;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
#portfolio{
  background-color: #A6BED0;
  padding: 80px 30px;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;}

  .card-container{
      display: flex;
      padding-left: 20px;
      padding-bottom: 20px;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      background: #e2d3b1;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      overflow: hidden;
      transition: transform 0.2s;
    }
    .card:hover {
      transform: scale(1.05);
    }
    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .card-content {
      padding: 15px;
    }
    .card-title {
      font-size: 1.5rem;
      margin: 0;
      color: #333;
    }
    .card-description {
      margin: 10px 0;
      color: #555;
    }
    .card-btn {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      background: #dacfac;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      transition: background 0.3s;
    }
    .card-btn:hover {
      background: #A6BED0;}
       /* Footer Section */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  } 