* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
  }

#nav-menu{
    display: none;
}

.nav-menu{
    display: inline-block;
    
}

.menu-icon{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 24px;
    width: 24px;
}

.menu-icon span{
    background-color: #fff;
    width: 100%;
    height: 2px;
}

.menu-links{
    position: absolute;
    width: fit-content;
    top: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4 ease-out;
    background-color: #333;
    padding: 10px;
    
}
.menu-links a{
    display: block;
    
    transition: all 0.4 ease;
    
    align-items: center;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}

.menu-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2){
    opacity: 0;
}

.menu-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.nav-menu li{
    padding-top: 5px;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #444;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a {
    text-decoration: none;
    color: inherit;
  }

ul {
    list-style: none;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 999;
    position:fixed;
}

header .nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header .nav ul li {
    display: inline;
}

header .nav ul li a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

header .nav ul li a:hover {
    color:#A6BED0 ;

}
h1{ text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 2.5rem;


}
    /* Flex container to align the card */
    .card-container {
        display: flex;
        align-items: center;
        height: 100vh; 
        margin: 0;
        flex-direction: column; 
      }
  
      /* Individual card style */
      .card {
        background-color:transparent;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        text-align: center; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
  
      /* Card title style */
      .card h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #fff;

      }
  
      .card p {
        font-size: 1em;
        color: #fff;
      }
  
      .card img {
        width: 100%;
        height: auto; 
        border-radius: 8px;
        margin-bottom: 15px;
      }
  
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
      .button {
        background-color:#e2d3b1;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 1.1em;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        text-align: center;
      }
  
i{
    font-size: 2.5rem;
    color: #e2d3b1;            
    transition: transform 0.3s, color 0.3s ease;
}

.icons{
color:#333 ;
display: flex;
justify-content:space-between;
align-items: center;
gap: 8px;
/* margin-top: 10px;
padding-left:100px;
padding-bottom:40px; */
}
i:hover {
text-decoration:none;
transform: scale(1.2);
color: #e2d3b1;}

.button:hover {
 background-color:#e2d3b1;
      }
      /* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-size: 1rem;
}

@media screen and (max-width: 500px){
    .nav{
        display: none;
    }

    header{
        text-align: start;
    }

    #nav-menu{
        display: flex;
    }

    #myVideo {
        width: auto;
      }
}